<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="16"
      android:smallScreens="true"
      android:normalScreens="true"
      android:largeScreens="true"
      android:anyDensity="true"
      android:versionName="0.10" package="mobi.omegacentauri.astrosurveys">

    <application android:label="AstroSurvey">
<!--                   android:configChanges="orientation"   -->
        <activity android:name=".FromSkySafari"
                  android:label="AstroSurvey for SkySafari"
                  android:icon="@drawable/icon"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".FromAPI"
                  android:label="AstroSurvey"
                  android:icon="@drawable/icon"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="text/astro_position" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        		<activity android:name=".Options" android:label="Settings" 
            />
		
        
    </application>
     <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
