.aladin-zoomControl{height:48px;font-size:27px;}
.aladin-zoomControl a{width:30px;height:30px;line-height:27px;background-color:rgba(250, 250, 250, 0.5);}
.aladin-layersControl-container{background:rgba(250, 250, 250, 0.5);}
.aladin-gotoControl-container{background:rgba(250, 250, 250, 0.5);}
